/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main-styles/_main-styles.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/* line 1, ../sass/general-parts/_grid-header.scss */
.blog-grid-header {
  background-image: url("../images/blog-grid-header-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* line 9, ../sass/general-parts/_grid-header.scss */
.blog-grid-header_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(53, 53, 53, 0.39);
}

/* line 18, ../sass/general-parts/_grid-header.scss */
.blog-grid-header_height {
  min-height: 230px;
}

/* line 22, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__title {
  font-size: 35px;
  color: #ffffff;
}

/* line 27, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic {
  margin: 20px 0 50px;
}
/* line 29, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic .blog-grid-header__statistic_data {
  display: inline-block;
  margin: 5px 10px 0 0;
  padding-left: 40px;
  position: relative;
  line-height: 30px;
  color: #c1c0c0;
}
/* line 36, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic .blog-grid-header__statistic_data .blog-grid-header__statistic_data_icon {
  position: absolute;
  left: 2px;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #c3c3c3;
  border-radius: 15px;
}

/* line 51, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav {
  margin-bottom: 50px;
  padding: 0 10px;
}
/* line 54, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link {
  color: #c1c0c0;
  padding-left: 10px;
}
/* line 57, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link:hover {
  text-decoration: none;
  color: #ffffff;
}
/* line 62, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link ~ .blog-grid-header__nav_link:before {
  content: "/";
  color: #000000;
  padding-right: 10px;
}

/* line 1, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts {
  padding: 50px 0;
}

/* line 5, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts_pagination {
  margin: 25px auto 50px;
  text-align: center;
}

/* line 9, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts_pagination_page {
  color: #0db5a7;
  padding: 10px;
}
/* line 12, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts_pagination_page:hover {
  color: #000000;
  background: #eeeeee;
  text-decoration: none;
}

/* line 18, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts_pagination_page_continue {
  margin: 0 20px;
}
/* line 20, ../sass/blog-grid/_blog-grid_posts.scss */
.blog-grid_posts_pagination_page_continue:hover {
  background: transparent;
}

/* line 1, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 40px;
  border: 2px solid #0db5a7;
  background: #1f2a32;
  z-index: 1;
  color: #ffffff;
}
/* line 12, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up span {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 5px;
  color: #0db5a7;
  position: relative;
}
/* line 21, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover {
  cursor: pointer;
}
/* line 23, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover span {
  top: -5px;
}

/* line 1, ../sass/general-parts/_header.scss */
.top-header {
  background: #000000;
  color: #ffffff;
  padding: 12px 0;
}
/* line 5, ../sass/general-parts/_header.scss */
.top-header .search-form {
  position: relative;
}
/* line 8, ../sass/general-parts/_header.scss */
.top-header .search-field {
  border: 1px solid #ffffff;
  padding: 4px;
  outline: none;
  background: transparent;
  color: #ffffff;
}
/* line 13, ../sass/general-parts/_header.scss */
.top-header .search-field::placeholder {
  color: #ffffff;
}
/* line 17, ../sass/general-parts/_header.scss */
.top-header .search-button {
  color: #ffffff;
  border: none;
  position: relative;
  left: -32px;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* line 26, ../sass/general-parts/_header.scss */
.users-nav {
  justify-content: flex-end;
}

/* line 29, ../sass/general-parts/_header.scss */
.users-nav-link {
  color: #ffffff;
}
/* line 31, ../sass/general-parts/_header.scss */
.users-nav-link:before {
  margin-right: 10px;
  position: relative;
}
/* line 35, ../sass/general-parts/_header.scss */
.users-nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 38, ../sass/general-parts/_header.scss */
.users-nav-link:hover:before {
  top: -5px;
}

/* line 43, ../sass/general-parts/_header.scss */
.bottom-header {
  background: #474747;
  padding: 10px 0;
}

/* line 47, ../sass/general-parts/_header.scss */
.main-logo {
  background: url("../images/logo.jpg");
  width: 132px;
  height: 52px;
  display: inline-block;
  text-indent: -99999px;
  z-index: 100;
  position: relative;
}

/* line 56, ../sass/general-parts/_header.scss */
.sandwich-icon {
  outline: none;
  border: none;
  margin-left: auto;
}
/* line 60, ../sass/general-parts/_header.scss */
.sandwich-icon:focus {
  outline: none;
}
/* line 63, ../sass/general-parts/_header.scss */
.sandwich-icon span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: relative;
}
/* line 69, ../sass/general-parts/_header.scss */
.sandwich-icon span:before, .sandwich-icon span:after {
  position: absolute;
  width: 100%;
  content: "";
  background: #ffffff;
  height: 2px;
  left: 0;
}
/* line 77, ../sass/general-parts/_header.scss */
.sandwich-icon span:before {
  top: -10px;
}
/* line 80, ../sass/general-parts/_header.scss */
.sandwich-icon span:after {
  bottom: -10px;
}

/* line 85, ../sass/general-parts/_header.scss */
.menu-item {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding: 0 10px;
  text-align: center;
}
/* line 91, ../sass/general-parts/_header.scss */
.menu-item:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 95, ../sass/general-parts/_header.scss */
.menu-item:before {
  content: "";
  height: 8px;
  width: 100%;
  left: 0;
  top: -27px;
  background: #ffae00;
  position: absolute;
  transition: top 0.8s;
}
/* line 105, ../sass/general-parts/_header.scss */
.menu-item:hover:before {
  top: 36px;
}
/* line 108, ../sass/general-parts/_header.scss */
.menu-item:nth-child(2):before {
  background: #fc7100;
}
/* line 111, ../sass/general-parts/_header.scss */
.menu-item:nth-child(3):before {
  background: #e51c5e;
}
/* line 114, ../sass/general-parts/_header.scss */
.menu-item:nth-child(4):before {
  background: #ae0f8d;
}
/* line 117, ../sass/general-parts/_header.scss */
.menu-item:nth-child(5):before {
  background: #6d0fae;
}
/* line 120, ../sass/general-parts/_header.scss */
.menu-item:nth-child(6):before {
  background: #33227a;
}
/* line 123, ../sass/general-parts/_header.scss */
.menu-item:nth-child(7):before {
  background: #0c8fcc;
}

/* line 1, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  text-align: left;
  max-width: 290px;
  margin: 0 auto 20px;
}

/* line 8, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title {
  display: inline-block;
  margin: 20px 0;
  font-size: 20px;
}

/* line 13, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-srt-desc {
  line-height: 22px;
  margin-bottom: 20px;
}

/* line 17, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-comments {
  text-align: right;
}

/* line 20, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title, .blog-post-grid-link, .blog-post-grid-comments-link {
  color: #0db5a7;
}
/* line 22, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title:hover, .blog-post-grid-link:hover, .blog-post-grid-comments-link:hover {
  color: #883bbd;
  text-decoration: none;
}

/* line 1, ../sass/general-parts/_main-footer.scss */
.general-footer {
  background: #1f2a32;
  padding: 0 0 50px;
  color: #ffffff;
}
/* line 5, ../sass/general-parts/_main-footer.scss */
.general-footer .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, ../sass/general-parts/_main-footer.scss */
.top-footer-line {
  position: relative;
  padding-top: 75px;
  margin-bottom: 35px;
}
/* line 14, ../sass/general-parts/_main-footer.scss */
.top-footer-line:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #7827a9;
}
/* line 23, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(2):before {
  background: #0c8fcc;
}
/* line 26, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(3):before {
  background: #de1c5c;
}
/* line 29, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(4):before {
  background: #ffae00;
}

/* line 34, ../sass/general-parts/_main-footer.scss */
.footer-section-title {
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
}

/* line 41, ../sass/general-parts/_main-footer.scss */
.address-in-footer p {
  margin-bottom: 30px;
  position: relative;
  padding-left: 25px;
  color: #778590;
  line-height: 20px;
}
/* line 47, ../sass/general-parts/_main-footer.scss */
.address-in-footer p i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 53, ../sass/general-parts/_main-footer.scss */
.address-in-footer p span {
  color: #ffff;
}
/* line 58, ../sass/general-parts/_main-footer.scss */
.address-in-footer .email a {
  color: #778590;
}

/* line 63, ../sass/general-parts/_main-footer.scss */
.google-map {
  width: 100%;
  height: 200px;
}

/* line 69, ../sass/general-parts/_main-footer.scss */
.tweet {
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
}
/* line 73, ../sass/general-parts/_main-footer.scss */
.tweet i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 79, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-content {
  margin-bottom: 5px;
  line-height: 20px;
}
/* line 83, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-tags {
  color: #0db5a7;
}
/* line 86, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-published {
  color: #778590;
}

/* line 91, ../sass/general-parts/_main-footer.scss */
.footer-social-links a {
  position: relative;
  padding-left: 60px;
  line-height: 55px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}
/* line 98, ../sass/general-parts/_main-footer.scss */
.footer-social-links a:before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url("../images/footer-social-icons.jpg");
  top: 0;
  left: 0;
  position: absolute;
  background-position-x: -4px;
}

/* line 109, ../sass/general-parts/_main-footer.scss */
.twitter:before {
  background-position-y: -73px;
}

/* line 112, ../sass/general-parts/_main-footer.scss */
.youtube:before {
  background-position-y: -140px;
}

/* line 115, ../sass/general-parts/_main-footer.scss */
.instagram:before {
  background-position-y: -210px;
}

/* line 118, ../sass/general-parts/_main-footer.scss */
.pinterest:before {
  background-position-y: -280px;
}

/* line 122, ../sass/general-parts/_main-footer.scss */
.popular-post_block {
  margin-bottom: 20px;
}

/* line 125, ../sass/general-parts/_main-footer.scss */
.popular-post__block_publish-date {
  margin-bottom: 10px;
}

/* line 128, ../sass/general-parts/_main-footer.scss */
.popular-post__block_content {
  color: #0db5a7;
  line-height: 25px;
}

/* line 133, ../sass/general-parts/_main-footer.scss */
.copyright {
  padding: 10px 0;
}

@media screen and (max-width: 992px) {
  /* line 2, ../sass/responsive/_responsive.scss */
  .counters:before {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  /* line 8, ../sass/responsive/_responsive.scss */
  .menu-item {
    text-align: right;
    margin-top: 4px;
  }
  /* line 11, ../sass/responsive/_responsive.scss */
  .menu-item:before {
    height: 100%;
    width: 4px;
    right: 0;
    left: 100%;
    top: 0;
  }
  /* line 18, ../sass/responsive/_responsive.scss */
  .menu-item:hover:before {
    top: 0;
  }
}
@media (max-width: 576px) {
  /* line 25, ../sass/responsive/_responsive.scss */
  .search-form {
    text-align: center;
    right: -18px;
    margin: 0 auto;
  }

  /* line 30, ../sass/responsive/_responsive.scss */
  .users-nav {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  /* line 36, ../sass/responsive/_responsive.scss */
  .align-form {
    display: flex;
    justify-content: center;
  }

  /* line 40, ../sass/responsive/_responsive.scss */
  .carousel-content-wrap .carousel-content {
    font-size: 30px;
  }

  /* line 43, ../sass/responsive/_responsive.scss */
  .slice-three .button {
    margin-top: 10px;
  }

  /* line 46, ../sass/responsive/_responsive.scss */
  .slice-four-content {
    padding-left: 20px;
  }
  /* line 48, ../sass/responsive/_responsive.scss */
  .slice-four-content i {
    top: -40px;
    left: 50%;
  }
}
