/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main-styles/_main-styles.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/* line 1, ../sass/hp-sections/_welcome.scss */
html, body {
  height: 100%;
}

/* line 4, ../sass/hp-sections/_welcome.scss */
.carousel, .item, .active {
  height: 100%;
}

/* line 7, ../sass/hp-sections/_welcome.scss */
.carousel-inner {
  height: 100%;
}

/* line 10, ../sass/hp-sections/_welcome.scss */
.fill {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

/* line 17, ../sass/hp-sections/_welcome.scss */
.carousel-content-wrap {
  padding-top: 20vh;
  text-align: center;
}
/* line 20, ../sass/hp-sections/_welcome.scss */
.carousel-content-wrap .carousel-content {
  font-size: 60px;
  color: #ffffff;
}
/* line 23, ../sass/hp-sections/_welcome.scss */
.carousel-content-wrap .carousel-content h4 {
  color: #0db5a7;
}
/* line 27, ../sass/hp-sections/_welcome.scss */
.carousel-content-wrap .carousel-buttons {
  margin-top: 35px;
}
/* line 29, ../sass/hp-sections/_welcome.scss */
.carousel-content-wrap .carousel-buttons a {
  margin: 5px 10px 0;
}

/* line 37, ../sass/hp-sections/_welcome.scss */
.carousel-indicators li {
  width: 20px;
  height: 4px;
  background: #ffffff;
}
/* line 42, ../sass/hp-sections/_welcome.scss */
.carousel-indicators .active {
  background: #0db5a7;
}

/* line 1, ../sass/hp-sections/_first-slise.scss */
.slice-one-content {
  margin: 80px 0 35px;
  font-size: 20px;
  line-height: 30px;
}

/* line 7, ../sass/hp-sections/_first-slise.scss */
.slice-one .head-line:after {
  background: #eeeeee;
}
/* line 10, ../sass/hp-sections/_first-slise.scss */
.slice-one .button {
  border: 2px solid #0db5a7;
  font-weight: bold;
}

/* line 1, ../sass/hp-sections/_slice-two.scss */
.slice-two {
  color: #ffffff;
  background: #525252;
  text-align: center;
}
/* line 6, ../sass/hp-sections/_slice-two.scss */
.slice-two .head-line:after {
  background: #ffffff;
}

/* line 10, ../sass/hp-sections/_slice-two.scss */
.slice-two-content {
  margin: 80px 0 30px;
  font-size: 20px;
  line-height: 30px;
}

/* line 1, ../sass/general-parts/_works-grid.scss */
.work-item {
  max-width: 290px;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../sass/general-parts/_works-grid.scss */
.work-item:hover .overlay {
  display: flex;
}
/* line 10, ../sass/general-parts/_works-grid.scss */
.work-item img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* line 16, ../sass/general-parts/_works-grid.scss */
.overlay {
  position: absolute;
  text-align: center;
  background: #ddddddb5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: none;
}
/* line 28, ../sass/general-parts/_works-grid.scss */
.overlay p {
  width: 40px;
  line-height: 40px;
  background: #0db5a7;
  border-radius: 20px;
  margin: 5px;
}
/* line 35, ../sass/general-parts/_works-grid.scss */
.overlay a {
  color: #ffffff;
}
/* line 37, ../sass/general-parts/_works-grid.scss */
.overlay a:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.5s;
}

/* line 45, ../sass/general-parts/_works-grid.scss */
.work-item-description {
  background: #3d3d3d;
  text-align: left;
  padding: 20px 0;
}
/* line 49, ../sass/general-parts/_works-grid.scss */
.work-item-description h6 {
  font-size: 18px;
}
/* line 52, ../sass/general-parts/_works-grid.scss */
.work-item-description p {
  font-size: 14px;
  color: #0db5a7;
  margin-top: 5px;
}

/* line 58, ../sass/general-parts/_works-grid.scss */
.heart-block {
  text-align: center;
}
/* line 60, ../sass/general-parts/_works-grid.scss */
.heart-block .heart-icon {
  color: #ffffff;
}
/* line 63, ../sass/general-parts/_works-grid.scss */
.heart-block .heart-count {
  color: #0db5a7;
  margin-top: 5px;
}

/* line 69, ../sass/general-parts/_works-grid.scss */
.slice-two .owl-nav .owl-prev, .slice-two .owl-nav .owl-next {
  text-indent: -999999px;
  width: 14px;
  height: 13px;
}
/* line 74, ../sass/general-parts/_works-grid.scss */
.slice-two .owl-nav .owl-prev {
  background: url("../images/nav-arrows.png");
}
/* line 76, ../sass/general-parts/_works-grid.scss */
.slice-two .owl-nav .owl-prev:hover {
  background: url("../images/nav-arrows.png");
}
/* line 80, ../sass/general-parts/_works-grid.scss */
.slice-two .owl-nav .owl-next {
  background: url("../images/nav-arrows.png");
  background-position: 15px 0;
}
/* line 83, ../sass/general-parts/_works-grid.scss */
.slice-two .owl-nav .owl-next:hover {
  background: url("../images/nav-arrows.png");
  background-position: 15px 0;
}

/* line 1, ../sass/hp-sections/_slice-three.scss */
.slice-three {
  background: #0db5a7;
  color: #ffffff;
}
/* line 4, ../sass/hp-sections/_slice-three.scss */
.slice-three .button {
  border: 3px solid #ffffff;
  color: #ffffff;
}
/* line 7, ../sass/hp-sections/_slice-three.scss */
.slice-three .button:hover {
  color: #ffffff;
}

/* line 12, ../sass/hp-sections/_slice-three.scss */
.slice-three-content {
  font-size: 30px;
}

/* line 1, ../sass/hp-sections/_slice-four.scss */
.slice-four-content {
  position: relative;
  text-align: left;
  padding-left: 50px;
  margin-top: 60px;
}
/* line 6, ../sass/hp-sections/_slice-four.scss */
.slice-four-content i {
  position: absolute;
  color: #0db5a7;
  top: 0;
  left: 0;
  font-size: 40px;
}
/* line 13, ../sass/hp-sections/_slice-four.scss */
.slice-four-content h6 {
  font-size: 24px;
  line-height: 35px;
}
/* line 17, ../sass/hp-sections/_slice-four.scss */
.slice-four-content p {
  line-height: 25px;
}

/* line 22, ../sass/hp-sections/_slice-four.scss */
.slice-four .head-line:after {
  background: #eeeeee;
}

/* line 1, ../sass/hp-sections/_slice-five.scss */
.slice-five {
  background: url("../images/slice-five-bg.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0.28);
}
/* line 5, ../sass/hp-sections/_slice-five.scss */
.slice-five .owl-dots .owl-dot span {
  background: #ffffff;
}
/* line 8, ../sass/hp-sections/_slice-five.scss */
.slice-five .owl-dots .owl-dot.active span {
  background: #0db5a7;
}

/* line 14, ../sass/hp-sections/_slice-five.scss */
.quotes {
  color: #0db5a7;
  font-size: 50px;
}

/* line 18, ../sass/hp-sections/_slice-five.scss */
.client-comment {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  margin: 30px 0;
}

/* line 24, ../sass/hp-sections/_slice-five.scss */
.client-position {
  font-weight: bold;
  color: #0db5a7;
  margin-bottom: 30px;
}

/* line 2, ../sass/hp-sections/_slice-six.scss */
.slice-six .head-line:after {
  background: #eeeeee;
}

/* line 1, ../sass/hp-sections/_slice-seven.scss */
.slice-seven {
  background: #0db5a7;
  color: #ffffff;
}
/* line 4, ../sass/hp-sections/_slice-seven.scss */
.slice-seven .head-line {
  margin-bottom: 80px;
}
/* line 7, ../sass/hp-sections/_slice-seven.scss */
.slice-seven .head-line:after {
  background: #ffffff;
}

/* line 11, ../sass/hp-sections/_slice-seven.scss */
.count {
  margin: 35px 0 20px;
  font-size: 50px;
}

/* line 15, ../sass/hp-sections/_slice-seven.scss */
.inside-progress {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-self: center;
}
/* line 25, ../sass/hp-sections/_slice-seven.scss */
.inside-progress i {
  color: #ffffff;
  font-size: 70px;
}

/* line 30, ../sass/hp-sections/_slice-seven.scss */
.counters {
  position: relative;
  margin-bottom: 20px;
}

/* line 34, ../sass/hp-sections/_slice-seven.scss */
.counters ~ .counters:before {
  position: absolute;
  left: -35px;
  top: 30%;
  content: "";
  background: url("../images/dots.png") no-repeat;
  width: 70px;
  height: 10px;
}

/* line 45, ../sass/hp-sections/_slice-seven.scss */
.progress {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

/* line 54, ../sass/hp-sections/_slice-seven.scss */
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 64, ../sass/hp-sections/_slice-seven.scss */
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* line 72, ../sass/hp-sections/_slice-seven.scss */
.progress .progress-left {
  left: 0;
}

/* line 75, ../sass/hp-sections/_slice-seven.scss */
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
}

/* line 84, ../sass/hp-sections/_slice-seven.scss */
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

/* line 92, ../sass/hp-sections/_slice-seven.scss */
.progress .progress-right {
  right: 0;
}

/* line 95, ../sass/hp-sections/_slice-seven.scss */
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 0.5s linear forwards;
}

/* line 104, ../sass/hp-sections/_slice-seven.scss */
.progress.blue .progress-bar {
  border-color: #ffffff;
}

/* line 107, ../sass/hp-sections/_slice-seven.scss */
.progress.blue .progress-left .progress-bar {
  animation: loading-2 0.5s linear forwards 0.5s;
}

/* line 110, ../sass/hp-sections/_slice-seven.scss */
.progress.blue .progress-left-second .progress-bar {
  animation: loading-3 0.5s linear forwards 0.5s;
}

/* line 113, ../sass/hp-sections/_slice-seven.scss */
.progress.blue .progress-left-third .progress-bar {
  animation: loading-4 0.5s linear forwards 0.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
}
/* line 2, ../sass/hp-sections/_slice-eight.scss */
.slice-eight .head-line:after {
  background: #eeeeee;
}
/* line 5, ../sass/hp-sections/_slice-eight.scss */
.slice-eight .button {
  font-weight: bold;
  border-width: 2px;
}
/* line 8, ../sass/hp-sections/_slice-eight.scss */
.slice-eight .button:hover {
  background: #0db5a7;
  color: #ffffff;
}
/* line 12, ../sass/hp-sections/_slice-eight.scss */
.slice-eight .button:hover > .team-member_img {
  overflow: unset;
}

/* line 18, ../sass/hp-sections/_slice-eight.scss */
.team-member {
  max-width: 210px;
  margin: 0 auto 20px;
  border: 1px solid #eeeeee;
  padding-bottom: 30px;
}

/* line 25, ../sass/hp-sections/_slice-eight.scss */
.team-member_img {
  width: 100%;
  max-width: 210px;
  height: 160px;
  overflow: hidden;
}

/* line 34, ../sass/hp-sections/_slice-eight.scss */
.team-member-name__position {
  display: inline-block;
  position: relative;
  top: -30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 10px;
}

/* line 42, ../sass/hp-sections/_slice-eight.scss */
.team-member-name {
  color: #0db5a7;
  line-height: 25px;
}

/* line 46, ../sass/hp-sections/_slice-eight.scss */
.team-member-position {
  color: #c8c8c8;
}

/* line 49, ../sass/hp-sections/_slice-eight.scss */
.team-member-about-short {
  margin: 0 20px 20px;
  line-height: 20px;
  font-size: 12px;
}

/* line 1, ../sass/hp-sections/_hp-main-styles.scss */
.slice-one,
.slice-two,
.slice-three,
.slice-four,
.slice-five,
.slice-six,
.slice-seven,
.slice-eight {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* line 1, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 40px;
  border: 2px solid #0db5a7;
  background: #1f2a32;
  z-index: 1;
  color: #ffffff;
}
/* line 12, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up span {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 5px;
  color: #0db5a7;
  position: relative;
}
/* line 21, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover {
  cursor: pointer;
}
/* line 23, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover span {
  top: -5px;
}

/* line 1, ../sass/general-parts/_underline.scss */
.head-line {
  position: relative;
  font-size: 36px;
  margin-bottom: 70px;
}
/* line 5, ../sass/general-parts/_underline.scss */
.head-line:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 50px;
  bottom: -30px;
  left: 48%;
}

/* line 1, ../sass/general-parts/_header.scss */
.top-header {
  background: #000000;
  color: #ffffff;
  padding: 12px 0;
}
/* line 5, ../sass/general-parts/_header.scss */
.top-header .search-form {
  position: relative;
  max-width: 205px;
}
/* line 9, ../sass/general-parts/_header.scss */
.top-header .search-field {
  border: 1px solid #ffffff;
  padding: 4px;
  outline: none;
  background: transparent;
  color: #ffffff;
}
/* line 14, ../sass/general-parts/_header.scss */
.top-header .search-field::placeholder {
  color: #ffffff;
}
/* line 18, ../sass/general-parts/_header.scss */
.top-header .search-button {
  color: #ffffff;
  border: none;
  position: absolute;
  right: 3px;
  top: 7px;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* line 28, ../sass/general-parts/_header.scss */
.users-nav {
  justify-content: flex-end;
}

/* line 31, ../sass/general-parts/_header.scss */
.users-nav-link {
  color: #ffffff;
}
/* line 33, ../sass/general-parts/_header.scss */
.users-nav-link:before {
  margin-right: 10px;
  position: relative;
}
/* line 37, ../sass/general-parts/_header.scss */
.users-nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 40, ../sass/general-parts/_header.scss */
.users-nav-link:hover:before {
  top: -5px;
}

/* line 45, ../sass/general-parts/_header.scss */
.bottom-header {
  background: #474747;
  padding: 10px 0;
}

/* line 49, ../sass/general-parts/_header.scss */
.main-logo {
  background: url("../images/logo.jpg");
  width: 132px;
  height: 52px;
  display: inline-block;
  text-indent: -99999px;
  z-index: 100;
  position: relative;
}

/* line 58, ../sass/general-parts/_header.scss */
.sandwich-icon {
  outline: none;
  border: none;
  margin-left: auto;
}
/* line 62, ../sass/general-parts/_header.scss */
.sandwich-icon:focus {
  outline: none;
}
/* line 65, ../sass/general-parts/_header.scss */
.sandwich-icon span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: relative;
}
/* line 71, ../sass/general-parts/_header.scss */
.sandwich-icon span:before, .sandwich-icon span:after {
  position: absolute;
  width: 100%;
  content: "";
  background: #ffffff;
  height: 2px;
  left: 0;
}
/* line 79, ../sass/general-parts/_header.scss */
.sandwich-icon span:before {
  top: -10px;
}
/* line 82, ../sass/general-parts/_header.scss */
.sandwich-icon span:after {
  bottom: -10px;
}

/* line 87, ../sass/general-parts/_header.scss */
.menu-item {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding: 0 10px;
  text-align: center;
}
/* line 93, ../sass/general-parts/_header.scss */
.menu-item:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 97, ../sass/general-parts/_header.scss */
.menu-item:before {
  content: "";
  height: 8px;
  width: 100%;
  left: 0;
  top: -27px;
  background: #ffae00;
  position: absolute;
  transition: top 0.8s;
}
/* line 107, ../sass/general-parts/_header.scss */
.menu-item:hover:before {
  top: 36px;
}
/* line 110, ../sass/general-parts/_header.scss */
.menu-item:nth-child(2):before {
  background: #fc7100;
}
/* line 113, ../sass/general-parts/_header.scss */
.menu-item:nth-child(3):before {
  background: #e51c5e;
}
/* line 116, ../sass/general-parts/_header.scss */
.menu-item:nth-child(4):before {
  background: #ae0f8d;
}
/* line 119, ../sass/general-parts/_header.scss */
.menu-item:nth-child(5):before {
  background: #6d0fae;
}
/* line 122, ../sass/general-parts/_header.scss */
.menu-item:nth-child(6):before {
  background: #33227a;
}
/* line 125, ../sass/general-parts/_header.scss */
.menu-item:nth-child(7):before {
  background: #0c8fcc;
}

/* line 130, ../sass/general-parts/_header.scss */
.cart-link {
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../sass/general-parts/_buttons.scss */
.primary-btn, .button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0db5a7;
  line-height: 40px;
  width: 135px;
  text-align: center;
  color: #0db5a7;
  background: transparent;
}
/* line 10, ../sass/general-parts/_buttons.scss */
.primary-btn:hover, .button:hover {
  color: #0db5a7;
  cursor: pointer;
  text-decoration: none;
}
/* line 15, ../sass/general-parts/_buttons.scss */
.primary-btn:focus, .button:focus {
  text-decoration: none;
}

/* line 19, ../sass/general-parts/_buttons.scss */
.primary-btn {
  color: #ffffff;
  background: #0db5a7;
}
/* line 22, ../sass/general-parts/_buttons.scss */
.primary-btn:hover {
  color: #ffffff;
}

/* line 1, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  text-align: left;
  max-width: 290px;
  margin: 0 auto 20px;
}

/* line 8, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title {
  display: inline-block;
  margin: 20px 0;
  font-size: 20px;
}

/* line 13, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-srt-desc {
  line-height: 22px;
  margin-bottom: 20px;
}

/* line 17, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-comments {
  text-align: right;
}

/* line 20, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title, .blog-post-grid-link, .blog-post-grid-comments-link {
  color: #0db5a7;
}
/* line 22, ../sass/general-parts/_blog-post-grid.scss */
.blog-post-grid-title:hover, .blog-post-grid-link:hover, .blog-post-grid-comments-link:hover {
  color: #883bbd;
  text-decoration: none;
}

/* line 1, ../sass/general-parts/_main-footer.scss */
.general-footer {
  background: #1f2a32;
  padding: 0 0 50px;
  color: #ffffff;
}
/* line 5, ../sass/general-parts/_main-footer.scss */
.general-footer .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, ../sass/general-parts/_main-footer.scss */
.top-footer-line {
  position: relative;
  padding-top: 75px;
  margin-bottom: 35px;
}
/* line 14, ../sass/general-parts/_main-footer.scss */
.top-footer-line:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #7827a9;
}
/* line 23, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(2):before {
  background: #0c8fcc;
}
/* line 26, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(3):before {
  background: #de1c5c;
}
/* line 29, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(4):before {
  background: #ffae00;
}

/* line 34, ../sass/general-parts/_main-footer.scss */
.footer-section-title {
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
}

/* line 41, ../sass/general-parts/_main-footer.scss */
.address-in-footer p {
  margin-bottom: 30px;
  position: relative;
  padding-left: 25px;
  color: #778590;
  line-height: 20px;
}
/* line 47, ../sass/general-parts/_main-footer.scss */
.address-in-footer p i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 53, ../sass/general-parts/_main-footer.scss */
.address-in-footer p span {
  color: #ffff;
}
/* line 58, ../sass/general-parts/_main-footer.scss */
.address-in-footer .email a {
  color: #778590;
}

/* line 63, ../sass/general-parts/_main-footer.scss */
.google-map {
  width: 100%;
  height: 200px;
}

/* line 69, ../sass/general-parts/_main-footer.scss */
.tweet {
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
}
/* line 73, ../sass/general-parts/_main-footer.scss */
.tweet i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 79, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-content {
  margin-bottom: 5px;
  line-height: 20px;
}
/* line 83, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-tags {
  color: #0db5a7;
}
/* line 86, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-published {
  color: #778590;
}

/* line 91, ../sass/general-parts/_main-footer.scss */
.footer-social-links a {
  position: relative;
  padding-left: 60px;
  line-height: 55px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}
/* line 98, ../sass/general-parts/_main-footer.scss */
.footer-social-links a:before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url("../images/footer-social-icons.jpg");
  top: 0;
  left: 0;
  position: absolute;
  background-position-x: -4px;
}

/* line 109, ../sass/general-parts/_main-footer.scss */
.twitter:before {
  background-position-y: -73px;
}

/* line 112, ../sass/general-parts/_main-footer.scss */
.youtube:before {
  background-position-y: -140px;
}

/* line 115, ../sass/general-parts/_main-footer.scss */
.instagram:before {
  background-position-y: -210px;
}

/* line 118, ../sass/general-parts/_main-footer.scss */
.pinterest:before {
  background-position-y: -280px;
}

/* line 122, ../sass/general-parts/_main-footer.scss */
.popular-post_block {
  margin-bottom: 20px;
}

/* line 125, ../sass/general-parts/_main-footer.scss */
.popular-post__block_publish-date {
  margin-bottom: 10px;
}

/* line 128, ../sass/general-parts/_main-footer.scss */
.popular-post__block_content {
  color: #0db5a7;
  line-height: 25px;
}

/* line 133, ../sass/general-parts/_main-footer.scss */
.copyright {
  padding: 10px 0;
}

@media screen and (max-width: 991px) {
  /* line 2, ../sass/responsive/_responsive.scss */
  .counters:before {
    display: none;
  }

  /* line 5, ../sass/responsive/_responsive.scss */
  .menu-item {
    text-align: right;
    margin-top: 10px;
  }
  /* line 8, ../sass/responsive/_responsive.scss */
  .menu-item:before {
    height: 100%;
    width: 4px;
    right: 0;
    left: 100%;
    top: 0;
  }
  /* line 15, ../sass/responsive/_responsive.scss */
  .menu-item:hover:before {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/responsive/_responsive.scss */
  .blog-grid-header__title, .blog-grid-header__statistic, .blog-grid-header__nav {
    text-align: center;
  }
}
@media (max-width: 576px) {
  /* line 30, ../sass/responsive/_responsive.scss */
  .search-form {
    margin: 0 auto;
  }

  /* line 33, ../sass/responsive/_responsive.scss */
  .top-header__form-links {
    display: block;
  }

  /* line 36, ../sass/responsive/_responsive.scss */
  .users-nav {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  /* line 42, ../sass/responsive/_responsive.scss */
  .align-form {
    display: flex;
    justify-content: center;
  }

  /* line 46, ../sass/responsive/_responsive.scss */
  .carousel-content-wrap .carousel-content {
    font-size: 30px;
  }

  /* line 49, ../sass/responsive/_responsive.scss */
  .slice-three .button {
    margin-top: 10px;
  }

  /* line 52, ../sass/responsive/_responsive.scss */
  .slice-four-content {
    padding-left: 20px;
  }
  /* line 54, ../sass/responsive/_responsive.scss */
  .slice-four-content i {
    top: -40px;
    left: 50%;
  }

  /* line 59, ../sass/responsive/_responsive.scss */
  .scroll-up {
    bottom: 20px;
    right: 20px;
  }
}
