/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/main-styles/_main-styles.scss */
body {
  font-family: 'Oxygen', sans-serif;
}

/* line 1, ../sass/general-parts/_grid-header.scss */
.blog-grid-header {
  background-image: url("../images/blog-grid-header-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* line 9, ../sass/general-parts/_grid-header.scss */
.blog-grid-header_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(53, 53, 53, 0.39);
}

/* line 18, ../sass/general-parts/_grid-header.scss */
.blog-grid-header_height {
  min-height: 230px;
}

/* line 22, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__title {
  font-size: 35px;
  color: #ffffff;
}

/* line 27, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic {
  margin: 20px 0 50px;
}
/* line 29, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic .blog-grid-header__statistic_data {
  display: inline-block;
  margin: 5px 10px 0 0;
  padding-left: 40px;
  position: relative;
  line-height: 30px;
  color: #c1c0c0;
}
/* line 36, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__statistic .blog-grid-header__statistic_data .blog-grid-header__statistic_data_icon {
  position: absolute;
  left: 2px;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #c3c3c3;
  border-radius: 15px;
}

/* line 51, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav {
  margin-bottom: 50px;
  padding: 0 10px;
  text-align: right;
}
/* line 55, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link {
  color: #c1c0c0;
  padding-left: 10px;
}
/* line 58, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link:hover {
  text-decoration: none;
  color: #ffffff;
}
/* line 63, ../sass/general-parts/_grid-header.scss */
.blog-grid-header__nav .blog-grid-header__nav_link ~ .blog-grid-header__nav_link:before {
  content: "/";
  color: #000000;
  padding-right: 10px;
}

/* line 1, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials {
  margin: 25px 0;
}
/* line 3, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials a {
  text-indent: -999999px;
  background-image: url("../images/blog-det-social-icons.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
}
/* line 11, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials a:nth-child(2) {
  background-position-x: -35px;
}
/* line 14, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials a:nth-child(3) {
  background-position-x: -72px;
}
/* line 17, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials a:nth-child(4) {
  background-position-x: -108px;
}
/* line 20, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials a:nth-child(5) {
  background-position-x: -144px;
}
/* line 24, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials .below-description_socials_counter {
  position: relative;
  border: 1px solid #eeeeee;
  line-height: 32px;
  display: inline-block;
  padding: 0 7px;
  top: 8px;
  border-radius: 5px;
  margin-left: 5px;
}
/* line 33, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials .below-description_socials_counter:after, .below-description_socials .below-description_socials_counter:before {
  right: 100%;
  top: 50%;
  border: 1px solid #eeeeee;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 43, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials .below-description_socials_counter:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 5px;
  margin-top: -5px;
}
/* line 49, ../sass/general-parts/_socials-with-counter.scss */
.below-description_socials .below-description_socials_counter:before {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #eeeeee;
  border-width: 11px;
  margin-top: -11px;
}

/* line 1, ../sass/portfolio-single/_porfolio-image.scss */
.portfolio-single-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, ../sass/portfolio-single/_porfolio-image.scss */
.owl-carousel-portfolio .owl-nav .owl-prev, .owl-carousel-portfolio .owl-nav .owl-next {
  background: #ffffff;
  position: absolute;
  top: 50%;
  transition: background-color 0.4s;
  width: 40px;
  line-height: 35px;
  border-radius: 0;
  color: #ffae00;
  font-size: 25px;
}
/* line 17, ../sass/portfolio-single/_porfolio-image.scss */
.owl-carousel-portfolio .owl-nav .owl-prev:hover, .owl-carousel-portfolio .owl-nav .owl-next:hover {
  background-color: #ffae00;
  color: #ffffff;
}
/* line 22, ../sass/portfolio-single/_porfolio-image.scss */
.owl-carousel-portfolio .owl-nav .owl-prev {
  left: 5%;
}
/* line 25, ../sass/portfolio-single/_porfolio-image.scss */
.owl-carousel-portfolio .owl-nav .owl-next {
  right: 5%;
}

/* line 29, ../sass/portfolio-single/_porfolio-image.scss */
.below-description_socials {
  text-align: center;
}

/* line 1, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_navigation, .portfolio-aside_like-counter, .portfolio-aside__description {
  margin-bottom: 35px;
}
/* line 3, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_navigation .buy-button, .portfolio-aside_like-counter .buy-button, .portfolio-aside__description .buy-button {
  border: 2px solid #ffae00;
  color: #ffae00;
  transition: background-color 0.5s;
  font-weight: bold;
  margin-top: 50px;
}
/* line 9, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_navigation .buy-button:hover, .portfolio-aside_like-counter .buy-button:hover, .portfolio-aside__description .buy-button:hover {
  background: #ffae00;
  color: #ffffff;
}

/* line 15, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_navigation_item {
  line-height: 35px;
  width: 35px;
  border: 1px solid #f5f5f6;
  color: #ffae00;
  transition: border 0.5s;
  display: inline-block;
  text-align: center;
}
/* line 23, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_navigation_item:hover {
  border-color: #ffae00;
  text-decoration: none;
  color: #ffae00;
}

/* line 29, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_like-counter_link {
  color: #000000;
}
/* line 31, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_like-counter_link i {
  color: #c3c3c3;
  padding-right: 5px;
}
/* line 35, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_like-counter_link:hover {
  text-decoration: none;
}
/* line 37, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside_like-counter_link:hover i {
  color: #ffae00;
}

/* line 43, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside__description_title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffae00;
  font-size: 20px;
}

/* line 49, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside__description_content {
  margin-bottom: 20px;
  line-height: 25px;
}

/* line 53, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside__description_list_title {
  font-weight: bold;
  margin: 35px 0 15px;
}

/* line 57, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside__description_list_item {
  line-height: 30px;
}
/* line 59, ../sass/portfolio-single/_portfolio-aside.scss */
.portfolio-aside__description_list_item i {
  color: #ffae00;
  margin-right: 10px;
}

/* line 1, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 40px;
  border: 2px solid #0db5a7;
  background: #1f2a32;
  z-index: 1;
  color: #ffffff;
}
/* line 12, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up span {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 5px;
  color: #0db5a7;
  position: relative;
}
/* line 21, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover {
  cursor: pointer;
}
/* line 23, ../sass/general-parts/_scroll-page-up.scss */
.scroll-up:hover span {
  top: -5px;
}

/* line 1, ../sass/general-parts/_header.scss */
.top-header {
  background: #000000;
  color: #ffffff;
  padding: 12px 0;
}
/* line 5, ../sass/general-parts/_header.scss */
.top-header .search-form {
  position: relative;
  max-width: 205px;
}
/* line 9, ../sass/general-parts/_header.scss */
.top-header .search-field {
  border: 1px solid #ffffff;
  padding: 4px;
  outline: none;
  background: transparent;
  color: #ffffff;
}
/* line 14, ../sass/general-parts/_header.scss */
.top-header .search-field::placeholder {
  color: #ffffff;
}
/* line 18, ../sass/general-parts/_header.scss */
.top-header .search-button {
  color: #ffffff;
  border: none;
  position: absolute;
  right: 0;
  top: 4px;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* line 28, ../sass/general-parts/_header.scss */
.users-nav {
  justify-content: flex-end;
}

/* line 31, ../sass/general-parts/_header.scss */
.users-nav-link {
  color: #ffffff;
}
/* line 33, ../sass/general-parts/_header.scss */
.users-nav-link:before {
  margin-right: 10px;
  position: relative;
}
/* line 37, ../sass/general-parts/_header.scss */
.users-nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 40, ../sass/general-parts/_header.scss */
.users-nav-link:hover:before {
  top: -5px;
}

/* line 45, ../sass/general-parts/_header.scss */
.bottom-header {
  background: #474747;
  padding: 10px 0;
}

/* line 49, ../sass/general-parts/_header.scss */
.main-logo {
  background: url("../images/logo.jpg");
  width: 132px;
  height: 52px;
  display: inline-block;
  text-indent: -99999px;
  z-index: 100;
  position: relative;
}

/* line 58, ../sass/general-parts/_header.scss */
.sandwich-icon {
  outline: none;
  border: none;
  margin-left: auto;
}
/* line 62, ../sass/general-parts/_header.scss */
.sandwich-icon:focus {
  outline: none;
}
/* line 65, ../sass/general-parts/_header.scss */
.sandwich-icon span {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: relative;
}
/* line 71, ../sass/general-parts/_header.scss */
.sandwich-icon span:before, .sandwich-icon span:after {
  position: absolute;
  width: 100%;
  content: "";
  background: #ffffff;
  height: 2px;
  left: 0;
}
/* line 79, ../sass/general-parts/_header.scss */
.sandwich-icon span:before {
  top: -10px;
}
/* line 82, ../sass/general-parts/_header.scss */
.sandwich-icon span:after {
  bottom: -10px;
}

/* line 87, ../sass/general-parts/_header.scss */
.menu-item {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding: 0 10px;
  text-align: center;
}
/* line 93, ../sass/general-parts/_header.scss */
.menu-item:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 97, ../sass/general-parts/_header.scss */
.menu-item:before {
  content: "";
  height: 8px;
  width: 100%;
  left: 0;
  top: -27px;
  background: #ffae00;
  position: absolute;
  transition: top 0.8s;
}
/* line 107, ../sass/general-parts/_header.scss */
.menu-item:hover:before {
  top: 36px;
}
/* line 110, ../sass/general-parts/_header.scss */
.menu-item:nth-child(2):before {
  background: #fc7100;
}
/* line 113, ../sass/general-parts/_header.scss */
.menu-item:nth-child(3):before {
  background: #e51c5e;
}
/* line 116, ../sass/general-parts/_header.scss */
.menu-item:nth-child(4):before {
  background: #ae0f8d;
}
/* line 119, ../sass/general-parts/_header.scss */
.menu-item:nth-child(5):before {
  background: #6d0fae;
}
/* line 122, ../sass/general-parts/_header.scss */
.menu-item:nth-child(6):before {
  background: #33227a;
}
/* line 125, ../sass/general-parts/_header.scss */
.menu-item:nth-child(7):before {
  background: #0c8fcc;
}

/* line 130, ../sass/general-parts/_header.scss */
.cart-link {
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../sass/general-parts/_buttons.scss */
.primary-btn, .button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0db5a7;
  line-height: 40px;
  width: 135px;
  text-align: center;
  color: #0db5a7;
  background: transparent;
}
/* line 10, ../sass/general-parts/_buttons.scss */
.primary-btn:hover, .button:hover {
  color: #0db5a7;
  cursor: pointer;
  text-decoration: none;
}
/* line 15, ../sass/general-parts/_buttons.scss */
.primary-btn:focus, .button:focus {
  text-decoration: none;
}

/* line 19, ../sass/general-parts/_buttons.scss */
.primary-btn {
  color: #ffffff;
  background: #0db5a7;
}
/* line 22, ../sass/general-parts/_buttons.scss */
.primary-btn:hover {
  color: #ffffff;
}

/* line 1, ../sass/general-parts/_main-footer.scss */
.general-footer {
  background: #1f2a32;
  padding: 0 0 50px;
  color: #ffffff;
}
/* line 5, ../sass/general-parts/_main-footer.scss */
.general-footer .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 10, ../sass/general-parts/_main-footer.scss */
.top-footer-line {
  position: relative;
  padding-top: 75px;
  margin-bottom: 35px;
}
/* line 14, ../sass/general-parts/_main-footer.scss */
.top-footer-line:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #7827a9;
}
/* line 23, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(2):before {
  background: #0c8fcc;
}
/* line 26, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(3):before {
  background: #de1c5c;
}
/* line 29, ../sass/general-parts/_main-footer.scss */
.top-footer-line:nth-child(4):before {
  background: #ffae00;
}

/* line 34, ../sass/general-parts/_main-footer.scss */
.footer-section-title {
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
}

/* line 41, ../sass/general-parts/_main-footer.scss */
.address-in-footer p {
  margin-bottom: 30px;
  position: relative;
  padding-left: 25px;
  color: #778590;
  line-height: 20px;
}
/* line 47, ../sass/general-parts/_main-footer.scss */
.address-in-footer p i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 53, ../sass/general-parts/_main-footer.scss */
.address-in-footer p span {
  color: #ffff;
}
/* line 58, ../sass/general-parts/_main-footer.scss */
.address-in-footer .email a {
  color: #778590;
}

/* line 63, ../sass/general-parts/_main-footer.scss */
.google-map {
  width: 100%;
  height: 200px;
}

/* line 69, ../sass/general-parts/_main-footer.scss */
.tweet {
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
}
/* line 73, ../sass/general-parts/_main-footer.scss */
.tweet i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #0db5a7;
}
/* line 79, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-content {
  margin-bottom: 5px;
  line-height: 20px;
}
/* line 83, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-tags {
  color: #0db5a7;
}
/* line 86, ../sass/general-parts/_main-footer.scss */
.tweet .tweet-published {
  color: #778590;
}

/* line 91, ../sass/general-parts/_main-footer.scss */
.footer-social-links a {
  position: relative;
  padding-left: 60px;
  line-height: 55px;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}
/* line 98, ../sass/general-parts/_main-footer.scss */
.footer-social-links a:before {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url("../images/footer-social-icons.jpg");
  top: 0;
  left: 0;
  position: absolute;
  background-position-x: -4px;
}

/* line 109, ../sass/general-parts/_main-footer.scss */
.twitter:before {
  background-position-y: -73px;
}

/* line 112, ../sass/general-parts/_main-footer.scss */
.youtube:before {
  background-position-y: -140px;
}

/* line 115, ../sass/general-parts/_main-footer.scss */
.instagram:before {
  background-position-y: -210px;
}

/* line 118, ../sass/general-parts/_main-footer.scss */
.pinterest:before {
  background-position-y: -280px;
}

/* line 122, ../sass/general-parts/_main-footer.scss */
.popular-post_block {
  margin-bottom: 20px;
}

/* line 125, ../sass/general-parts/_main-footer.scss */
.popular-post__block_publish-date {
  margin-bottom: 10px;
}

/* line 128, ../sass/general-parts/_main-footer.scss */
.popular-post__block_content {
  color: #0db5a7;
  line-height: 25px;
}

/* line 133, ../sass/general-parts/_main-footer.scss */
.copyright {
  padding: 10px 0;
}

@media screen and (max-width: 991px) {
  /* line 2, ../sass/responsive/_responsive.scss */
  .counters:before {
    display: none;
  }

  /* line 5, ../sass/responsive/_responsive.scss */
  .menu-item {
    text-align: right;
    margin-top: 4px;
  }
  /* line 8, ../sass/responsive/_responsive.scss */
  .menu-item:before {
    height: 100%;
    width: 4px;
    right: 0;
    left: 100%;
    top: 0;
  }
  /* line 15, ../sass/responsive/_responsive.scss */
  .menu-item:hover:before {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/responsive/_responsive.scss */
  .blog-grid-header__title, .blog-grid-header__statistic, .blog-grid-header__nav {
    text-align: center;
  }
}
@media (max-width: 576px) {
  /* line 30, ../sass/responsive/_responsive.scss */
  .search-form {
    margin: 0 auto;
  }

  /* line 33, ../sass/responsive/_responsive.scss */
  .top-header__form-links {
    display: block;
  }

  /* line 36, ../sass/responsive/_responsive.scss */
  .users-nav {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  /* line 42, ../sass/responsive/_responsive.scss */
  .align-form {
    display: flex;
    justify-content: center;
  }

  /* line 46, ../sass/responsive/_responsive.scss */
  .carousel-content-wrap .carousel-content {
    font-size: 30px;
  }

  /* line 49, ../sass/responsive/_responsive.scss */
  .slice-three .button {
    margin-top: 10px;
  }

  /* line 52, ../sass/responsive/_responsive.scss */
  .slice-four-content {
    padding-left: 20px;
  }
  /* line 54, ../sass/responsive/_responsive.scss */
  .slice-four-content i {
    top: -40px;
    left: 50%;
  }

  /* line 59, ../sass/responsive/_responsive.scss */
  .scroll-up {
    bottom: 20px;
    right: 20px;
  }
}
